server.port=
server.http.port=
server.ssl.key-store=
server.ssl.key-store-password=
server.ssl.keyStoreType=
server.ssl.keyAlias=

logging.level.root=
logging.level.edu.arizona.biosemantics=
logging.level.org.springframework.web=
logging.file=

ontologySearch.ontologyDir=ontologies
ontologySearch.wordNetDir=wordnet/wn31/dict

spring.jackson.default-property-inclusion=non_null